<section>
  <div class="saque">
    <div class="card-saque">
      <div class="logo-saque">
        <img src="assets/saque.svg" alt="logo-saque">
      </div>
      <button class="btn-sacar" routerLink="/saque" >Sacar</button>
    </div>
  </div>

  <div class="deposito">
    <div class="card-deposito">
      <div class="logo-deposito">
        <img src="assets/deposito.svg" alt="logo-deposito">
      </div>
      <button class="btn-depositar" routerLink="/deposito" >Depositar</button>
    </div>
  </div>

  <div class="transferencia">
    <div class="card-transferencia">
      <div class="logo-transferencia">
        <img src="assets/transferencia.svg" alt="logo-transferencia">
      </div>
      <button class="btn-transferir" routerLink="/transferencia">Transferir</button>
    </div>
  </div>
</section>
